<div class="catalog-category">
    <div class="manage-user-container">
      <div class="addCategory">
        <input type="button" (click)="addCatModal()" value="Add Category">
      </div>
      <div class="modal" [class.open]="addCategoryModal">
        <div class="modal-content">
          <form class="register">
            <div class="register-header-container">
              <h1>Add Category</h1>
              <button id="close-btn" type="button" (click)="closeCatModal()">X</button>
            </div>
            <div class="register-name-container">
              <input type="text" name="category" [(ngModel)]="onCategory.category" placeholder="Category Name" required>
              <input type="text" name="description" [(ngModel)]="onCategory.description" placeholder="Description" required>
            </div>
            <button type="button" (click)="onCategoryRegistration()">Add Category</button>
          </form>
        </div>
      </div>
    </div>

     
    <div class="data-container">
        <div class="data-list">
          <div class="data-item">
            <div class="data-details">
              <p id="item-id-label">CategoryId</p>
              <p id="category-label">Category</p>
              <p id="description-label">Description</p>
              <p id="action-label">Action</p>
            </div>
          </div>
          <div class="data-item" *ngFor="let item of category">
            <div class="data-details">
              <p>{{ item.categoryId }}</p>
              <p>{{ item.category }}</p>
              <p id="description">{{ item.description }}</p>
              <div class="user-details-buttons-container">
                <button (click)="openEditCatModal(item)">Edit</button>
                <button (click)="deleteCategory(item.categoryId)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="modal" [class.open]="editCategoryModal">
          <div class="modal-content">
            <div class="header-container">
              <h1>Edit Category</h1>
            </div>
            <input type="text" [(ngModel)]="onCategory.categoryId" name="categoryId" placeholder="categoryId">
            <input type="text" [(ngModel)]="onCategory.category" name="category" placeholder="category">
            <input type="text" [(ngModel)]="onCategory.description" name="description" placeholder="description">
            <div class="action-button-container">
              <button (click)="saveCustomer()">Update</button>
              <button (click)="closeCatEditModal()">Cancel</button>
            </div>
          </div>
        </div>
</div>