<div class="order">
  <div class="search-bar-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Search" />
  </div>
  <div class="filter-container">
    <div class="filt">
      <input type="button" [value]="'All'">
      <div class="filter-items" *ngFor="let sta of status">
        <input type="button" [value]="sta.status">
      </div>
    </div>
  </div>
  <div class="orders-container">
    <ng-container *ngFor="let group of orderGroups">
      <div class="order-group" (click)="openModal(group.orderId)">
        <div class="main-info-container">
          
        <p id="status-pending" *ngIf="group.status == '1'">Preparing</p>
        <p id="status-in-progress" *ngIf="group.status == '2'">Prepped</p>
        <p id="status-completed" *ngIf="group.status == '3'">Completed</p>
        <p id="status-cancelled" *ngIf="group.status == '4'">Cancelled</p>
          <div class="header-container">
            <h2>{{ group.orderId }}</h2>
            <div class="creator-container">
              <p>Made by </p>
              <p>{{ group.firstName }}</p>
              <p> • </p>
              <p id="timestamp">{{ group.orderStamp | date:"MMM dd, yyyy ' ' hh:mm a" }}</p>
            </div>
            <div *ngIf="openOrderItem === group.orderId" class="order-item">
              <div class="items-container" *ngFor="let orderItem of group.orderItems">
                <div class="item-main-container">
                  <img [src]="orderItem.foodImage" />
                  <div class="item-info-container">
                    <p id="item-name">{{ orderItem.item }}</p>
                    <p id="quantity">x {{ orderItem.quantity }}</p>
                  </div>
                </div>
                <p id="item-price">₱{{ orderItem.price }}</p> 
              </div>
            </div>
            <div class="horizontal-line"></div>
            <div class="payment-container">
              <p id="mop-cash" *ngIf="group.modeOfPayment == '1'">Cash</p>
              <p id="mop-gcash" *ngIf="group.modeOfPayment == '2'">GCash</p>
              <p id="cost">₱{{ group.cost }}</p>
            </div>
            <div class="buttons-container" *ngIf="group.status != '3' && group.status != '4'" >
              <button (click)="editStatusCompleted(group.orderId, 3)">Completed</button>
              <button (click)="editStatus(group.orderId, 2)">Prepped</button>
              <button (click)="editStatus(group.orderId, 4)">Cancelled</button>
            </div>
          </div>
        </div>
      </div>
      
    </ng-container>         
  </div>
  
</div>
