h1 {
    margin-top: 48px;
    font-weight: bold;
}

.search-bar-container {
    width: 85vw;
    border: 1px solid #b6b6b6;
    border-radius: 25px;
    margin-top: 33px;
}

.search-bar-container i {
    margin: 0 0 0 33px;
}

.search-bar-container input {
    width: 90%;
    border: none;
    padding: 15px 0 15px 0;
    margin: 0 0 0 33px;
}

.search-bar-container input:focus {
    outline: none;
}

.status-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 6px 32px 6px 32px;
    background-color: #C62626;
    border: 2px solid #C62626;
    border-radius: 25px;
    margin-top: 20px;
}

#status-tag {
    height: fit-content;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    font-size: 16px; /* Changed from 'font' to 'font-size' */
    color: #fff;
    font-weight: bold;
    margin: 8px;

}


.transactions-container {
    border-radius: 45px;
    border: 1px solid #b6b6b6;
    width: 82vw;
    height: fit-content;
    overflow: auto;
    padding: 33px;
    margin: 33px 0 0 33px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 33px);
    grid-template-rows: repeat(4, 33px);
}

.transactions-container img {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
}

img {
    width: 132px;
    height: 132px;
}
.items-ordered-container {
    display: grid;
    grid-template-columns: repeat(2, 33px);
    grid-template-rows: repeat(2, 33px);
    grid-column: 1  / span 2;
    grid-row: 3 / span 4;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#items-ordered {
    font-size: 23px;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    font-weight: bold;
    color: white;
    margin: 20px 18px 10px 4px;
    grid-column: 1  / span 2;
    grid-row: 1 / span 2;
}

#order-id {
    font-weight: bold;
    display: flex;
    justify-content: left; /* Horizontally center */
    align-items: center; /* Vertically center */
    grid-column: 6  / span 8;
    grid-row: 1 / span 2;
    margin: 0;
}

#timestamp {
    color: rgb(202, 202, 202);
    font-weight: 400;
    display: flex;
    justify-content: left; /* Horizontally center */
    align-items: center; /* Vertically center */
    grid-column: 6;
    grid-row: 3 / span 2;
    margin: 0;
} 
#amount {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    grid-column: 40 / span 5;
    grid-row: 2 / span 2;
    margin-bottom: 0;
}

#status {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    grid-column: 49;
    grid-row: 2 / span 2;
    margin-bottom: 0;
    color: #07ca00;
;
}

