/* CSS for Customer Details */
.dashboard {
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}


.search-bar-container {
    width: 70%;
    border: 1px solid #b6b6b6;
    border-radius: 25px;
    margin: 12px 0 24px 0 ;
    padding: 12px 20px 12px 15px;
    font-size: 30px;
  }
  
  .search-bar-container i {
    margin: 0 0 0 33px;
    color: #2C2C2C;
  }
  
  .search-bar-container input {
    width: 90%;
    border: none;
    padding: 15px 0 15px 0;
    margin: 0 0 0 33px;
  }
  
  .search-bar-container input:focus {
    outline: none;
  }

  .filter-container {
    display: flex;
  }
  
  .filt input {
    margin: 0 15px 0 0;
    padding: 8px 24px 8px 24px;
    border-radius: 20px;
    border: solid 2px #DA062E;
    background-color: #fff;
    font-weight: 600;
    color: #DA062E;
  }
  
  .filter-items input {
    margin: 0 15px 0 0;
    padding: 8px 24px 8px 24px;
    border-radius: 20px;
    border: solid 2px #DA062E;
    background-color: #fff;
    font-weight: 600;
    color: #DA062E;
  }

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

#customerDetails {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

#customerDetails p {
    margin: 5px 0;
    font-size: 18px;
    color: #555;
}

/* CSS for Orders Container */
.orders-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    width: 100%;
}

.order-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-item p {
    margin: 5px 0;
    font-size: 16px;
    color: #444;
}

.order-item strong {
    font-weight: bold;
    color: #333;
}
