<div class="profile">
  
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOU7eL2lJZuZ0UJ4qR3GOWJkRax352OB6WaGUC-xh18Q&s">
<div class="name">
  <h1>Customer Name</h1>
  <div id="customerName" *ngIf="customerName">
    <p>
      <strong>Last Name:</strong>
      <input class="editable-input" id="lastName" [attr.contenteditable]="enableEditing" [(ngModel)]="customerName.lastName">
    </p>
      <p>
        <strong>First Name:</strong>
        <span class="editable-input" id="firstName" [attr.contenteditable]="enableEditing">{{ customerName.firstName }}</span>
      </p>
      <p>
        <strong>M.I. (Optional):</strong>
        <span class="editable-input" id="middleName" [attr.contenteditable]="enableEditing">{{ customerName.middleName }}</span>
      </p>
  </div>
</div>

<div class="customerAddress">
  <h1>Customer Address</h1>
  <div id="customerAddress" *ngIf="customerAddress">
    <p>
      <strong>Contact Number:</strong>
      <span class="editable-input" id="contactNumber" [attr.contenteditable]="enableEditing">{{ customerAddress.contactNumber }}</span>
    </p>
    <p>
      <strong>Email:</strong>
      <span class="editable-input" id="email" [attr.contenteditable]="enableEditing">{{ customerAddress.email }}</span>
    </p>
    <p>
      <strong>Address:</strong>
      <span class="editable-input" id="addressId" [attr.contenteditable]="enableEditing">{{ customerAddress.addressId }}</span>
    </p>
  </div>
</div>

<button (click)="toggleEditing()">Enable Editing</button>
<button (click)="updateName()" [disabled]="!enableEditing">Update Name</button>

</div>