<div class="container">
  <div class="name">
    <h1>Customer Name</h1>
    <div id="customerName" *ngIf="customerName">
      <p>
        <strong>Last Name:</strong>
        <input class="editable-input" id="lastName" [attr.contenteditable]="enableEditing" [(ngModel)]="customerName.lastName">
      </p>
      <div class="name-parts">
        <p>
          <strong>First Name:</strong>
          <input class="editable-input" id="firstName" [attr.contenteditable]="enableEditing" [(ngModel)]="customerName.firstName">
        </p>
        <p>
          <strong>M.I. (Optional):</strong>
          <input class="editable-input" id="middleName" [attr.contenteditable]="enableEditing" [(ngModel)]="customerName.middleName">
        </p>
      </div>
    </div>
  </div>

  <div class="customerAddress">
    <h1>Customer Address</h1>
    <div id="customerAddress" *ngIf="customerAddress">
      <p>
        <strong>Contact Number:</strong>
        <input class="editable-input" id="contactNumber" [attr.contenteditable]="enableEditing" [(ngModel)]="customerAddress.contactNumber">
      </p>
      <p>
        <strong>Email:</strong>
        <input class="editable-input" id="email" [attr.contenteditable]="enableEditing" [(ngModel)]="customerAddress.email">
      </p>
      <p>
        <strong>Address:</strong>
        <input class="editable-input" id="addressId" [attr.contenteditable]="enableEditing" [(ngModel)]="customerAddress.addressId">
      </p>
    </div>
  </div>
</div>



  
<button (click)="toggleEditing()">Enable Editing</button>
<button (click)="updateName()" [disabled]="!enableEditing">Update Name</button>
<button (click)="updateAddress()" [disabled]="!enableEditing">Update Address</button>