<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<div class="menu">
  <!-- <h1 id="title" >Menu</h1> -->
  <div class="search-bar-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Search"/>
  </div>
  <div class="filter-container">
    <div class="filt">
      <input type="button" [value]="'All'" [class.active]="filterSelected === 0" (click)="filterMenu(0)">
    </div>
    <div class="filter-items" *ngFor="let cat of category">
        <input type="button" [class.active]="filterSelected === cat.categoryId" [value]="getCategoryName(cat.categoryId)" (click)="filterMenu(cat.categoryId)">
    </div>
  </div>

  <div class="main-category-container">
    <ng-container *ngFor="let category of filteredMenu | keyvalue">
      <div class="category-container">
        <h1 class="category-name">{{ getCategoryName(category.key) }}</h1>
        <div class="main-container">
          <div class="grid-wrapper">
            <div class="item-container" *ngFor="let menuItem of category.value">
              <div class="image-container">
                <img [src]="menuItem.foodImage" alt="Food image">
              </div>
              <div class="header-container">
                <h1 class="item" [ngStyle]="{'font-size.px': menuItem.item.length > 8 ? 26 : 32}">
                  {{ menuItem.item }}
                </h1>
                <h1 id="price">₱{{ menuItem.price }}</h1>
                <div class="action-container">
                  <button type="button" (click)="addToTray(menuItem)">Add to Tray</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  

  <div class="tray-container">
    <div class="tray-main-container">
      <h1>Tray</h1>
    </div>
    <div class="tray-items-container">
      <div class="item-container" *ngFor="let trayItem of trayItems">
        <div class="item-image-container">
          <img [src]="trayItem.foodImage" alt="{{ trayItem.item }}">
        </div>
        <div class="item-info-container">
          <h4 id="menu-item">{{ trayItem.item }}</h4>
          <h5 id="price">₱{{ trayItem.price }}</h5>
          <form class="quantity-container">
            <input id="del" type="button" (click)="decreaseQuantity(trayItem)" value="-">
            <h6 id="quantity">{{ trayItem.quantity }}</h6>
            <input id="add" type="button" (click)="increaseQuantity(trayItem)" value="+">
          </form>
        </div>
        <button class="remove-button" (click)="removeItem(trayItem)"><i class="fa-solid fa-trash-can"></i></button> 
      </div>
    </div>

    <div class="tray-total-container">
      <div class="subtotal-container">
        <h5 id="sub-total-label">Total</h5>
        <h5 id="sub-total">{{ order.subTotal }}</h5>
      </div>
      <!-- <div class="total-container">
        <h5 id="total-label">Sub-total</h5>
        <h5 id="total">{{ order.total }}</h5>
      </div> -->
      <select (change)="onMOPSelectionChange($event)">
        <option *ngFor="let mode of mop" [value]="mode.modeOfPaymentId">{{ mode.modeOfPayment }}</option>
      </select>
      
      <button class="add-button" (click)="orderNow()">Order Now!</button>
    </div>
  </div>
  <div *ngIf="menus.length === 0">
    <p>No menu items available.</p>
  </div>  
</div>
  
  