<div class="menu">
  <h1 id="title" >Menu</h1>
  <hr>
  <div class="search-bar-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Search"/>
  </div>
  <div class="filter-container">
    <div class="filt">
      <input type="button" [value]="'All'" (click)="filterMenu(0)">
    </div>
    <div class="filter-items" *ngFor="let cat of category">
        <input type="button" [value]="getCategoryName(cat.categoryId)" (click)="filterMenu(cat.categoryId)">
    </div>
  </div>

  <div class="main-category-container">
    <div class="category-container" *ngFor="let menuItem of filteredMenu">
      <h1 class="category-name">{{ getCategoryName(menuItem.category) }}</h1>

      <div class="main-container">
          <div class="image-container">
            <img [src]="menuItem.foodImage" alt="Food image">
          </div>
          <div class="header-container">
            <h1 class="item" [ngStyle]="{'font-size.px': menuItem.item.length > 8 ? 26 : 32}">{{ menuItem.item }}</h1>
            <h1 id="price">₱{{ menuItem.price }}</h1>
            <div class="action-container">
              <button type="button" (click)="addToTray(menuItem)">Add to Tray</button>
            </div>
          </div>
          <!-- <div class="body-container">
            <p *ngIf="menuItem.isHalal > 0">Halal Certified</p>
            <p *ngIf="menuItem.isHalal === 0"></p>
            <p id="description">{{ menuItem.description }}</p>
          </div> -->
      </div>
    </div>
  </div>

  <div class="tray-container">
    <div class="tray-main-container">
      <h1>Tray</h1>
    </div>

    <div class="tray-items-container">
      <div class="item-container" *ngFor="let trayItem of trayItems">
        <div class="item-image-container">
          <img [src]="trayItem.foodImage" alt="{{ trayItem.item }}">
        </div>
        <h4 id="menu-item">{{ trayItem.item }}</h4>
        <h5 id="price">₱{{ trayItem.price }}</h5>
        <form class="quantity-container">
          <input id="del" type="button" (click)="decreaseQuantity(trayItem)" value="-">
          <h6 id="quantity">{{ trayItem.quantity }}</h6>
          <input id="add" type="button" (click)="increaseQuantity(trayItem)" value="+">
        </form>
        
        <button class="remove-button" (click)="removeItem(trayItem)"><i class="fa-solid fa-trash-can"></i></button> 
      </div>
    </div>

    <h5 id="sub-total-label">Sub-total</h5>
    <h5 id="sub-total">{{ order.subTotal }}</h5>
    <h5 id="discount-label">Discount</h5>
    <h5 id="total-label">Total</h5>
    <h5 id="total">{{ order.total }}</h5>
    <button class="add-button" (click)="orderNow()">Order Now!</button>
  </div>

  <div class="order-status pending">
    <p>GIF Here</p>
    <h1>Your order is currently being verified by the vendor. Thank you for your patience.</h1>
  </div>

  <div class="order-status in-progress">
    <p>GIF Here</p>
    <h1>Your order is currently being prepared. We're working hard to get it ready for you.</h1>
  </div>

  <div class="order-status on-going">
    <p>GIF Here</p>
    <h1>Your order is now on its way to you! It's out for delivery.</h1>
  </div>

  <div class="order-status delivered">
    <p>GIF Here</p>
    <h1>Your order has been successfully delivered. Enjoy your meal!</h1>
  </div>

  <div class="rating">
    <p>Title Here</p>
    <h1>We hope you enjoyed your meal! Your feedback helps us improve. Please take a moment to rate your experience with us. Thank you for choosing us!</h1>
    <p>Stars Here</p>
  </div>  
    
  <div *ngIf="filteredMenu.length === 0">
    <p>No menu items available.</p>
  </div>  
</div>
  
  