<div class="canteen-body">
  <nav class="nav_cont">
    <ul class="nav">
      <li [routerLink]="['/layout']" [ngClass]="{'nav_items': isActive === 0}" (click)="toggleActive(0)">
        <a >
          <i class="fa-solid fa-house">
            <use xlink:href="#home"></use>
          </i>
          <span>Home</span>
        </a>
      </li>
      <li [routerLink]="['dashboard']" [ngClass]="{'nav_items': isActive === 1}" (click)="toggleActive(1)">
        <a>
          <i class="fa-solid fa-qrcode">
            <use xlink:href="#search"></use>
          </i>
          <span>Dashboard</span>
        </a>
      </li>
      <li [routerLink]="['menu']" [ngClass]="{'nav_items': isActive === 2}" (click)="toggleActive(2)">
        <a>
          <i class="fa-solid fa-mug-hot">
            <use xlink:href="#map"></use>
          </i>
          <span>Menu</span>
        </a>
      </li>
      <li [routerLink]="['transaction']" [ngClass]="{'nav_items': isActive === 3}" (click)="toggleActive(3)">
        <a>
          <i class="fa-solid fa-receipt">
            <use xlink:href="#history"></use>
          </i>
          <span>History</span>
        </a>
      </li>
      <li [routerLink]="['order']" [ngClass]="{'nav_items': isActive === 4}" (click)="toggleActive(4)">
        <a>
          <i class="fa-solid fa-receipt">
            <use xlink:href="#history"></use>
          </i>
          <span>Order</span>
        </a>
      </li>
    </ul>
    <li class="nav_items "  id="logout-btn">
      <a [routerLink]="['/layout/transaction']">
        <i class="fa-solid fa-right-from-bracket">
          <use xlink:href="#logout"></use>
        </i>
        <span> </span>
      </a>
    </li>
  </nav>
  
  <div class="body-container">
    <router-outlet></router-outlet>
  </div>
</div>