<nav class="nav__cont">
  <ul class="nav">
    <li class="nav__items ">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <use xlink:href="#home"></use>
        </svg>
        <span>Home</span>
      </a>
    </li>

    <li class="nav__items ">
      <a href="layout/dashboard">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <use xlink:href="#search"></use>
        </svg>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav__items ">
      <a href="layout/menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <use xlink:href="#map"></use>
        </svg>
        <span>Menu</span>
      </a>
    </li>

    <li class="nav__items ">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 35.6">
          <use xlink:href="#planner"></use>
        </svg>
        <span>Planner</span>
      </a>
    </li>
  </ul>
</nav>
<div class="main-content">
  <router-outlet></router-outlet>
</div>