<div class="dashboard">
    <div class="datas-container">
      <div class="summary-container">
        <div class="items-ordered-container">
          <h1>Recently Ordered</h1>
          <p>#</p>
        </div>
        <div class="ongoing-orders-container">
          <h1>Ongoing Orders</h1>
          <p>#</p>
        </div>
      </div>
      <div class="standard-container">
        <div class="menu-container">
          <div class="row-header">
            <h1>Best Seller</h1>
            <a [routerLink]="['../menu']">See All</a>
          </div>
          <p>Items here</p>
        </div>
        <div class="recent-transactions-container">
          <div class="row-header">
            <h1>Recent Transactions</h1>
            <a [routerLink]="['../order']">See All</a>
          </div>
          <p>Items here</p>
        </div>
      </div>
    </div>
    <!-- <div class="advertisement-container">

    </div> -->
    <!--<div id="customerDetails" *ngIf="customer">
        <p><strong>Customer ID:</strong> {{ customer.customerId }}</p>
        <p><strong>Cus Credential:</strong> {{ customer.cusCredentials }}</p>
        <p><strong>Name:</strong> {{ customer.cusName }}</p>
        <p><strong>Address:</strong> {{ customer.cusAddress }}</p>
        <p><strong>Membership:</strong> {{ customer.membership }}</p>
        <p><strong>Status:</strong> {{ customer.status }}</p>
    </div> -->
    <div *ngIf="!customer">Loading...</div>
  <div *ngIf="!customer">Loading...</div>
</div>