<div class="parent">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" name="txt" [(ngModel)]="registrationObj.username" placeholder="username" required="">
                    <input type="password" name="password" [(ngModel)]="registrationObj.password" placeholder="password" required="">
                    <button (click)="onSignup()">Sign up</button>
                </form>
            </div>
    
            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="name" name="username" [(ngModel)]="loginObj.username" placeholder="username" required="">
                    <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="password" required="">
                    <button (click)="onLogin()">Login</button>
                </form>
            </div>
</div>
