<div class="profile">
  <div class="button-container">
    <button id="edit-btn" [class.active]="btnActive" (click)="toggleEditing()">Edit</button>
    <button id="save-btn" (click)="updateName()" [disabled]="!enableEditing">Save Changes</button>
    <!-- <button (click)="updateAddress()" [disabled]="!enableEditing">Update Address</button> -->
  </div>
  <div class="main-container">
    <img src="https://static.vecteezy.com/system/resources/previews/000/422/799/original/avatar-icon-vector-illustration.jpg"/>
  <h1>Admin Name</h1>
  <div id="customerName" *ngIf="admin">
    <div [class.active]="inputNameActive === 1" (click)="toggleActive(1)">
      <p>First Name:</p>
      <input id="firstname" class="editable-input" [attr.contenteditable]="enableEditing" [(ngModel)]="admin.firstName">
    </div>
    <div [class.active]="inputNameActive === 1" (click)="toggleActive(1)">
      <p>M.I.:</p>
      <input class="editable-input" id="middleinitial" [attr.contenteditable]="enableEditing" [(ngModel)]="admin.middleName">
    </div>
    <div [class.active]="inputNameActive === 1" (click)="toggleActive(1)">
      <p>Last Name:</p>
      <input class="editable-input" id="lastname" [attr.contenteditable]="enableEditing" [(ngModel)]="admin.lastName">
    </div>
  </div>  
  </div>
</div>
