.manage-user-container {
    width: 100%;
    height: 100%;
}

.addUser input{
    margin: 0 15px 0 0;
    padding: 8px 24px 8px 24px;
    border-radius: 20px;
    border: solid 2px #DA062E;
    background-color: #fff;
    font-weight: 600;
    color: #DA062E;
}

.addUser {
    margin: 0 0 30px 0
}

.modal {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: hidden;
    overflow-y: hidden;
}

.open {
    display: flex;
    margin-left: 400px;
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    width: 10%;
    height: 65%;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 1px solid #fff; /* Increased border width */
    width: 40%; /* Increased width */
    max-width: 700px; /* Increased max-width */
    overflow-y: inherit;
    overflow-y: inherit;
  }

.register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.register h1 {
    margin: 20px 0 30px 0;
}

.register #username, .register #email, #password, .register-name-container input, .register-address-container input, .register-address-container select {
    width: 100%;
    padding: 17px;
    font-size: 18px;
    margin: 0;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #9ba0a3;
    color: #000;
}

.register #username:focus, .register #email:active, #password:active, .register-name-container input:active, .register-address-container input:active, .register-address-container select:active {
    border: 1px solid #DA062E;
    outline: transparent;
}

.register #username:focus, .register #email:focus, #password:focus, .register-name-container input:focus, .register-address-container input:focus, .register-address-container select:focus {
    border: 1px solid #DA062E;
    outline: transparent;
}

.register-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#close-btn {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    color: #DA062E;
}

.register-name-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.register-address-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.register-address-container select {
    margin: 0 10px 0 0;
}
.register-address-container input {
    margin: 0 0 0 10px;
}

.register button {
    width: 100%;
    padding: 15px 30px 15px 30px;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    background-color: #DA062E;
    border-radius: 20px;
    border: 1px solid #DA062E;
    margin-top: 10px;
}

.modal-content input {
    width: 100%;
    padding: 17px;
    font-size: 20px;
    margin: 0;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.modal-content .header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.modal-content .action-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.action-button-container button {
    flex: 1;
    padding: 15px 30px 15px 30px; 
    margin: 5px;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    background-color: #DA062E;
    border-radius: 20px;
    border: 1px solid #DA062E;
}

.users-container {
    display: flex;
    flex-direction: column;
}

.user-list {
    justify-content: space-between;
}

.user-item {
    width: 100%;
    margin-bottom: 50px;
}

.user-details {
    font-size: 20px;
    display: flex;
    height: 100px;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 30px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 5.4px rgba(0, 0, 0, 0.15);
}

.user-details p, .user-details button{
    flex: 1;
    width: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-self: center;
}

.user-details .user-details-buttons-container {
    display: flex;
    flex: 1;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.user-details-buttons-container button {
    flex: 1;
    font-size: 20px;
    border: transparent;
    color: #e9e9e9;
    text-align: center;
}

.user-details-buttons-container button:first-child {
    background-color: #9ba0a3;
}

.user-details-buttons-container button:last-child {
    background-color: #9ba0a3;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 0 30px 0 30px;
}

.user-details-buttons-container button:first-child:hover {
    background-color: #ecad00;
    font-weight: 600;
    color: #fff;
    box-shadow: inset 0 0 10px 5px #ecad00;
}

.user-details-buttons-container button:last-child:hover {
    background-color: #DA062E;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 0 30px 0 30px;
    box-shadow: inset 0 0 10px 5px #DA062E;
}

.user-details img {
    width: 50px;
    background-color: #fff;
    border-radius: 100%;
    padding: 15px;
    border: 1px solid #8a8a8a;
}

#customer-id-label, #name-label, #membership-label, #address-label, #status-label, #action-label {
    font-weight: 800;
}

.user-details #name {
    text-transform: capitalize;
}

