<div class="users-container">
    <div class="user-list">
        <div class="user-item" *ngFor="let user of users">
            <div class="user-details">
                <p><strong>Customer ID:</strong> {{ user.customerId }}</p>
                <p><strong>Name:</strong> {{ getUserFirstName(user.cusName) }} {{ getUserMiddleName(user.cusName) }} {{ getUserLastName(user.cusName) }} </p>
                <p><strong>Membership:</strong> {{ getMembership(user.membership) }}</p>
                <p><strong>Address:</strong> {{ getAddress(user.cusAddress) }}</p>
                <p><strong>Status:</strong> {{ getUserStatus(user.status) }}</p>
                <button (click)="openEditModal(user)">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" [style.display]="modalOpen ? 'block' : 'none'">
    <div class="modal-content">
        <input type="text" [(ngModel)]="editedUser.firstName" placeholder="First Name">
        <input type="text" [(ngModel)]="editedUser.middleName" placeholder="Middle Name">
        <input type="text" [(ngModel)]="editedUser.lastName" placeholder="Last Name">
        <input type="text" [(ngModel)]="editedUser.membership" placeholder="Membership">
        <input type="text" [(ngModel)]="editedUser.address" placeholder="Address">
        <input type="text" [(ngModel)]="editedUser.status" placeholder="Status">
        <button (click)="updateUser()">Update</button>
        <button (click)="cancelEdit()">Cancel</button>
    </div>
</div>

