<div class="admin-dashboard">
  <div class="summary-count">
    <div class="highest-count">
      <div class="summary-count-main">
        <p>Highest Sale</p>
        <p>{{ highestSalesProduct.price }}</p>
      </div>
      <div class="summary-count-icon-container">

      </div>
    </div>
    <div class="product-count">
      <div class="summary-count-main">
        <p>Total # of Products </p>
        <p>{{ menus.length }}</p>
      </div>
      <div class="summary-count-icon-container">
        
      </div>
    </div>
    <div class="month-sold-count">
      <div class="summary-count-main">
        <p>Monthly Total Revenue</p>
        <p>₱ {{ totalRevenueForMonth }}</p>
      </div>
      <div class="summary-count-icon-container">
        
      </div>
    </div>
  </div>
  <div class="sales">
    <div class="products">
      <h1>Sales Per Product</h1>
      <h2>Overview of latest month</h2>
      <table class="sales-table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Sales</th>
            <th>No. of Items Sold</th>
          </tr>
        </thead>
        <tbody *ngIf="salesPerProduct === null">
          <tr>
            <td></td>
            <td>No datas found</td>
            <td></td>
          </tr>
        </tbody>
        <tbody *ngIf="salesPerProduct !== null">
          <tr *ngFor="let product of salesPerProduct | keyvalue">
            <td>{{ product.value.name }}</td>
            <td>{{ product.value.price }}</td>
            <td>{{ product.value.quantitySold }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="month-count-bar">
      <p>Statistics</p>
    </div>
  </div>
  <div class="others">
    <div class="stocks-count">
      <h1>Stocks</h1>
      <div class="diagram">
        <!-- <div class="legend">
          <div class="test" *ngFor="let stocks of menus">
            <div id="color-code"></div>
            <p>{{stocks.item}} {{getPercent(stocks.stock)}}%</p>
          </div>
        </div> -->
        <div class="percent">
          <canvas id="menuStockChart"></canvas>
        </div>
      </div>
    </div>
    <div class="user-summary">

    </div>
  </div>
</div>
<!-- 
<div>
  <h2>Highest Sales Product for Current Month</h2>
  <table class="sales-table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Sales</th>
        <th>No. of Items Sold</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ highestSalesProduct.name }}</td>
        <td></td>
        <td>{{ highestSalesProduct.quantitySold }}</td>
      </tr>
    </tbody>
  </table>
</div> -->

