<div class="product-count">
  
    <p>Total # of Products: {{ menus.length }}</p>

    <div class="percent">
      <svg viewBox="0 0 36 36" class="circular-chart">
            <path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831" />
            <path class="circle" stroke-dasharray="85, 100" d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831" />
            <path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831" />
            <path class="circle" stroke-dasharray="10, 100" d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831" />
      </svg>
        </div>

      
</div>
  
<div>
  Total Revenue for the Month: {{ totalRevenueForMonth | currency:'PHP':'symbol':'1.2-2' }}
</div>

<div>
  <h2>Sales Per Product for Current Month</h2>
  <table class="sales-table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Sales</th>
        <th>No. of Items Sold</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of salesPerProduct | keyvalue">
        <td>{{ product.value.name }}</td>
        <td>{{ product.value.price }}</td>
        <td>{{ product.value.quantitySold }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Highest Sales Product for Current Month</h2>
  <table class="sales-table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Sales</th>
        <th>No. of Items Sold</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ highestSalesProduct.name }}</td>
        <td>{{ highestSalesProduct.price }}</td>
        <td>{{ highestSalesProduct.quantitySold }}</td>
      </tr>
    </tbody>
  </table>
</div>

