<div class="canteen-body">
    <nav class="nav_cont">
      <div class="nav-profile" [routerLink]="['profile']" [ngClass]="{'nav_items': isActive === 6}" (click)="toggleActive(6)">
        <div class="image-container">
          <img src="https://static.vecteezy.com/system/resources/previews/000/422/799/original/avatar-icon-vector-illustration.jpg"/>
        </div>
        <h3>{{adminName.firstName}} {{adminName.middleName}}. {{adminName.lastName}}</h3>
      </div>
      <ul class="nav">
        <li [routerLink]="['dashboard']" [ngClass]="{'nav_items': isActive === 1}" (click)="toggleActive(1)">
          <a>
            <i class="fa-solid fa-qrcode">
            </i>
            <span>Dashboard</span>
          </a>
        </li>
        <li [routerLink]="['manage-order']" [ngClass]="{'nav_items': isActive === 2}" (click)="toggleActive(2)">
          <a>
            <i class="fa-solid fa-qrcode">
            </i>
            <span>Orders</span>
          </a>
        </li>
        <li [ngClass]="{'nav_items-main-sub': isActive === 3}"
        (click)="toggleActive(3)">
          <a>
            <i class="fa-solid fa-qrcode">
            </i>
            <span>Manage User</span>
            <div class="triangle"></div>
          </a>
        </li>
        <ul *ngIf="isActive === 3">
          <li [routerLink]="['manage-vendor']" [ngClass]="{'nav_items-sub': isSubActive === 1}" (click)="toggleSubActive(1)">
            <a>
              <i class="fa-solid fa-qrcode">
              </i>
              <span>Vendor</span>
            </a>
          </li>
          <li [routerLink]="['manage-user']" [ngClass]="{'nav_items-sub': isSubActive === 2}" (click)="toggleSubActive(2)">
            <a>
              <i class="fa-solid fa-qrcode"> 
              </i>
              <span>Customers</span>
            </a>
          </li>
        </ul>
        <li [routerLink]="['manage-menu']" [ngClass]="{'nav_items': isActive === 6}" (click)="toggleActive(6)">
          <a>
            <i class="fa-solid fa-receipt">
            </i>
            <span>Manage Menu</span>
          </a>
        </li>
        <li [routerLink]="['manage-catalog-category']" [ngClass]="{'nav_items-main-sub': isActive === 7}" (click)="toggleActive(7)">
          <a>
            <i class="fa-solid fa-receipt">
            </i>
            <span>Manage Catalogs</span>

            <div class="triangle"></div>
          </a>
        </li>
        <ul *ngIf="isActive === 7">
          <li [routerLink]="['manage-catalog-category']" [ngClass]="{'nav_items-sub': isSubActive === 1}" (click)="toggleSubActive(1)">
            <a>
              <i class="fa-solid fa-qrcode">
              </i>
              <span>Food Category</span>
            </a>
          </li>
          <li [routerLink]="['manage-catalog-address']" [ngClass]="{'nav_items-sub': isSubActive === 2}" (click)="toggleSubActive(2)">
            <a>
              <i class="fa-solid fa-qrcode">
              </i>
              <span>Address</span>
            </a>
          </li>
        </ul>
      <li [routerLink]="['logout']" [ngClass]="{'nav_items': isActive === 8}" (click)="logout()">
        <a>
          <i class="fa-solid fa-receipt">
          </i>
          <span>Logout</span>
        </a>
      </li>
      </ul>
    </nav>
    <div class="body-container">
      <router-outlet></router-outlet>
    </div>
  </div>