<div class="canteen-body">
    <nav class="nav_cont">
      <div class="nav-profile" [routerLink]="['profile']" [ngClass]="{'nav_items': isActive === 6}" (click)="toggleActive(6)">
        <div class="image-container">
          <img src="https://static.vecteezy.com/system/resources/previews/000/422/799/original/avatar-icon-vector-illustration.jpg"/>
        </div>
        <h3>{{adminName.firstName}} {{adminName.middleName}}. {{adminName.lastName}}</h3>
      </div>
      <ul class="nav">
        <li [routerLink]="['dashboard']" [ngClass]="{'nav_items': isActive === 1}" (click)="toggleActive(1)">
          <a>
            <i class="fa-solid fa-qrcode">
              <use xlink:href="#search"></use>
            </i>
            <span>Dashboard</span>
          </a>
        </li>
        <li [routerLink]="['manage-order']" [ngClass]="{'nav_items': isActive === 2}" (click)="toggleActive(2)">
          <a>
            <i class="fa-solid fa-qrcode">
              <use xlink:href="#search"></use>
            </i>
            <span>Orders</span>
          </a>
        </li>
        <li [routerLink]="['manage-user']" [ngClass]="{'nav_items-main-users': isActive === 3}" (click)="toggleActive(3)">
          <a>
            <i class="fa-solid fa-qrcode">
              <use xlink:href="#search"></use>
            </i>
            <span>Manage User</span>
            
            <div class="triangle"></div>
          </a>
        </li>
        <li [routerLink]="['manage-user']" *ngIf="isActive === 3" [ngClass]="{'nav_items-users': isActive === 3}" (click)="toggleActive(3)">
          <a>
            <i class="fa-solid fa-qrcode">
              <use xlink:href="#search"></use>
            </i>
            <span>Vendor</span>
          </a>
        </li>
        <li [routerLink]="['manage-user']" *ngIf="isActive === 3" [ngClass]="{'nav_items-users': isActive === 3}" (click)="toggleActive(3)">
          <a>
            <i class="fa-solid fa-qrcode">
              <use xlink:href="#search"></use>
            </i>
            <span>Customers</span>
          </a>
        </li>
        <li [routerLink]="['manage-menu']" [ngClass]="{'nav_items': isActive === 4}" (click)="toggleActive(4)">
          <a>
            <i class="fa-solid fa-receipt">
              <use xlink:href="#history"></use>
            </i>
            <span>Manage Menu</span>
          </a>
        </li>
      <li [routerLink]="['logout']" [ngClass]="{'nav_items': isActive === 5}" (click)="logout()">
        <a>
          <i class="fa-solid fa-receipt">
            <use xlink:href="#history"></use>
          </i>
          <span>Logout</span>
        </a>
      </li>
      </ul>
    </nav>
    <div class="body-container">
      <router-outlet></router-outlet>
    </div>
  </div>